# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Build scripts output
release
release.tar.gz

# Playwright (E2E)
playwright-report/
test-results/
blob-report/

# playwright-bdd generated specs
.features-gen/
